.homepage {
    min-height: 100vh;
    width: 100vw;
    background-color: #0f1624;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}

@media screen and (max-width: 800px) {
    .homepage {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;
        margin-top: 10vh;
    }

    .homepage .homepage-name {
        width: 100vw !important;
        height: 50vh !important;
        order: 2 !important;
    }

    .homepage .homepage-name .homepage-first {
        font-size: 20px !important;
    }

    .homepage .homepage-name .homepage-second,
    .homepage .homepage-name .homepage-second span {
        font-size: 50px !important;
        font-weight: 900;
    }

    .homepage .homepage-name .homepage-third {
        font-size: 28px !important;
        min-width: 20px;
    }

    .homepage .homepage-name .homepage-third span {
        font-size: 28px !important;
        color: #a600ff;
    }

    .homepage .homepage-photo {
        width: 80vw !important;
        height: 40vh !important;
        background-color: #0f1624;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1 !important;
        overflow: hidden;
    }

    .homepage-photo img {
        height: 40vh !important;
        width: auto !important;
    }

    /* *********************************about************************************ */
    .about .headline {
        font-weight: 600 !important;
        color: white;
        font-size: 35px !important;
        padding-top: 15px !important;
        display: flex;
        justify-content: center;
    }

    .about .headline div {
        display: none !important;
    }

    .about .headline .paragraphinside {
        color: #a600ff;
        margin: 0 20px !important;
        font-size: 35px !important;
        letter-spacing: normal !important;
    }

    .about .dots {
        letter-spacing: 9px !important;
    }

    .about :nth-child(2) {
        color: white;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about .about-main {
        flex-direction: column;
        gap: 3px 0 !important;
    }

    .about-main .about-main-img {
        width: 80vw !important;
    }

    .about-main .about-main-img img {
        width: 80vw !important;
    }

    .about-main .about-main-paragraph {
        margin-right: 0px !important;
        min-height: 50vh !important;
        color: white;
        letter-spacing: normal !important;
        font-size: 15px;
        padding: 0 50px !important;
        width: 100vw !important;
        left: 0px !important;
    }

    .about-main-button {
        height: 10vh !important;
        padding: 10px 0 !important;
    }

    .about-main-button button {
        letter-spacing: normal !important;

    }
}

.homepage .homepage-name {
    width: 60vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage .homepage-name .homepage-first {
    font-size: 30px;
}

.homepage .homepage-name .homepage-second {
    font-size: 70px;
    font-weight: 900;
}

.homepage .homepage-name .homepage-second span {
    font-size: 70px;
    font-weight: 900;
    color: #a600ff;
}

.homepage .homepage-name .homepage-third {
    font-size: 35px;
    min-width: 20px;
}

.homepage .homepage-name .homepage-third span {
    font-size: 35px;
    color: #a600ff;
}

.homepage .homepage-name .homepage-btn {
    font-size: 17px;
    padding: 12px 30px;
    border: 2px solid #a600ff;
    outline: none;
    margin-top: 30px;
    background-color: #a600ff;
    color: white;
    border-radius: 8px;
}

.homepage .homepage-name .homepage-btn a {
    text-decoration: none;
    color: white;
}

.homepage .homepage-name .homepage-btn:hover {
    border: 2px solid #a600ff;
    position: relative;
    color: #a600ff;
    background-color: #0f1624;
}

.homepage .homepage-photo {
    width: 40vw;
    height: 90vh;
    background-color: #0f1624;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-photo img {
    width: 400px;
}

/* *******************************************about section*************************************8 */
#about {
    padding-top: 13vh;
    height: auto;
    width: 100%;
    background: #151e32;
    padding-bottom: 150px;
}

.about .headline {
    font-weight: 800;
    color: white;
    font-size: 37px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .headline .paragraphinside {
    color: #a600ff;
    margin: 0 10px;
    font-size: 37px;
    display: flex;
}

.about .headline div {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: normal;
    font-size: 37px;
}

.about :nth-child(2) {
    letter-spacing: 15px;
    color: white;
    font-size: 15px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about :nth-child(2) i {
    margin: 0 15px;
}





.about .about-main {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-main .about-main-img {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-main .about-main-img img {
    width: 30vw;
    display: flex;
}

.about-main .paragraph-visible {
    display: flex;
    margin-right: 30px;
    min-height: 60vh;
    color: white;
    font-size: 15px;
    padding: 0 10vh 0 10vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    letter-spacing: normal !important;
    position: relative;
    font-family: 'Poppins', sans-serif;
    left: 10px;
}

.about-main-button {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.about-main-button .main-btns {
    letter-spacing: normal;
    font-size: 17px;
    min-width: 140px;
    padding: 12px 30px;
    border: none;
    outline: none;
    margin: 0 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.about-main-button .bgc {
    background-color: red;
}